@font-face {
    src: url('ProximaNova-Black.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 900;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-BlackIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 900;
    font-style: italic;
}

@font-face {
    src: url('ProximaNova-Bold.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-BoldIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 700;
    font-style: italic;
}

@font-face {
    src: url('ProximaNova-Extrabld.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 800;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 800;
    font-style: italic;
}

@font-face {
    src: url('ProximaNova-Light.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 300;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-LightIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 300;
    font-style: italic;
}

@font-face {
    src: url('ProximaNova-Regular.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-RegularIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('ProximaNova-Semibold.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 600;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-SemiboldIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 600;
    font-style: italic;
}

@font-face {
    src: url('ProximaNova-Thin.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 100;
    font-style: normal;
}

@font-face {
    src: url('ProximaNova-ThinIt.ttf') format('truetype');
	font-family: 'Proxima Nova';
	font-weight: 100;
    font-style: italic;
}
